[package]
name    = "sealed-boxes"
version = "0.1.0"
edition = "2018"

[dependencies]
blake2b_simd = "0.5.11"
crypto_box   = { version = "0.6", features = ["std"] }
minicbor     = { version = "0.11.0", features = ["derive", "std", "half"] }
rand_core    = { version = "0.6.2", features = ["getrandom"] }

[dev-dependencies]
quickcheck = "1.0"
