[package]
name    = "sealed-boxes"
version = "0.1.0"
license = "MIT"
edition = "2021"

[dependencies]
blake2b_simd = "1.0.0"
crypto_box   = { version = "0.7", features = ["std"] }
minicbor     = { version = "0.12.0", features = ["derive", "std", "half"] }
rand_core    = { version = "0.6.2", features = ["getrandom"] }

[dev-dependencies]
quickcheck = "1.0"
