[package]
name    = "agent"
version = "0.1.0"
edition = "2018"

[dependencies]
config       = { version = "0.11", default-features = false, features = ["toml"] }
either       = "1.6"
futures      = "0.3.13"
ipnet        = { version = "2.3", features = ["serde"] }
humantime    = "2.1"
log          = { version = "0.1.25", package = "tracing" }
minicbor     = { version = "0.11.0", features = ["derive", "std", "half"] }
minicbor-io  = { version = "0.6.0", features = ["async-io"] }
protocol     = { path = "../protocol" }
scopeguard   = "1.1.0"
sealed-boxes = { path = "../sealed-boxes" }
serde        = { version = "1.0.125", features = ["derive"] }
socket2      = { version = "0.4.0", features = ["all"] }
structopt    = "0.3.21"
thiserror    = "1.0.24"
tokio-rustls = "0.22"
tokio-util   = { version = "0.6.5", features = ["compat"] }
toml         = "0.5.8"
util         = { path = "../util" }
webpki-roots = "0.21"
yamux        = "0.9.0"

[dependencies.tokio]
version = "1.10"
default-features = false
features = ["io-util", "macros", "net", "rt-multi-thread", "time", "sync"]

[dependencies.tracing-subscriber]
version = "0.2.25"

[dev-dependencies]
quickcheck = "1.0.3"
rand       = "0.8.4"
