[package]
name        = "cluvio-agent"
version     = "1.0.0"
license     = "MIT"
edition     = "2021"
description = "Cluvio GmbH connection agent"

[dependencies]
config       = { version = "0.13", default-features = false, features = ["toml"] }
directories  = "4.0.1"
either       = "1.6"
futures      = "0.3.13"
ipnet        = { version = "2.4", features = ["serde"] }
humantime    = "2.1"
log          = { version = "0.1.25", package = "tracing" }
minicbor-io  = { version = "0.10.0", features = ["async-io"] }
protocol     = { path = "../protocol" }
scopeguard   = "1.1.0"
sealed-boxes = { path = "../sealed-boxes" }
serde        = { version = "1.0.125", features = ["derive"] }
socket2      = { version = "0.4.0", features = ["all"] }
structopt    = "0.3.21"
thiserror    = "1.0.24"
tokio-rustls = { version = "0.23", default-features = false, features = ["logging"] }
tokio-util   = { version = "0.7.1", features = ["compat"] }
toml         = "0.5.8"
util         = { path = "../util" }
webpki-roots = "0.22"
yamux        = "0.10.1"

[dependencies.tokio]
version          = "1.10"
default-features = false
features         = ["io-util", "macros", "net", "rt-multi-thread", "time", "sync"]

[dependencies.tracing-subscriber]
version  = "0.3.10"
features = ["env-filter", "json"]

[dev-dependencies]
quickcheck = "1.0.3"
rand       = "0.8.4"

# Debian archive metadata

[package.metadata.deb]
copyright          = "2021, Cluvio GmbH"
maintainer         = "Cluvio GmbH <admin@cluvio.com>"
maintainer-scripts = "../scripts/linux"

[package.metadata.deb.systemd-units]
start           = false
stop-on-upgrade = false

# RPM archive metadata

[package.metadata.generate-rpm]
post_install_script  = "systemctl enable cluvio-agent.service"
pre_uninstall_script = "systemctl disable cluvio-agent.service"

[[package.metadata.generate-rpm.assets]]
source = "target/release/cluvio-agent"
dest   = "/usr/bin/cluvio-agent"
mode   = "755"

[[package.metadata.generate-rpm.assets]]
source = "../scripts/linux/cluvio-agent.service"
dest   = "/lib/systemd/system/cluvio-agent.service"
mode   = "644"
config = true
