name: Create Cluvio Agent GitHub release

on: workflow_dispatch

env:
  CARGO_TERM_COLOR: always

jobs:
  build-x86_64-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install MUSL
      run: |
        sudo apt-get update
        sudo apt-get install -y musl-dev musl-tools

    - name: Install MUSL target
      run: rustup target add x86_64-unknown-linux-musl

    - name: Install cargo-deb
      run: cargo install cargo-deb --version 1.34.0

    - name: Install cargo-generate-rpm
      run: cargo install cargo-generate-rpm --version 0.5.0

    - name: Package agent (deb).
      run: make deb-agent-x86_64

    - name: Package agent (rpm).
      run: make rpm-agent-x86_64

    - run: echo AGENT_VERSION=$(make agent-version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-linux.tar.xz
        path: "dist/cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-linux.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent_${{ env.AGENT_VERSION }}_amd64.deb
        path: "target/x86_64-unknown-linux-musl/debian/cluvio-agent_${{ env.AGENT_VERSION }}_amd64.deb"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-1.x86_64.rpm
        path: "target/x86_64-unknown-linux-musl/generate-rpm/cluvio-agent-${{ env.AGENT_VERSION }}-1.x86_64.rpm"
        retention-days: 1

  build-aarch64-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install MUSL
      run: |
        sudo apt-get update
        sudo apt-get install -y musl-dev musl-tools gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu

    - name: Install MUSL target
      run: rustup target add aarch64-unknown-linux-musl

    - name: Install cargo-deb
      run: cargo install cargo-deb --version 1.34.0

    - name: Install cargo-generate-rpm
      run: cargo install cargo-generate-rpm --version 0.5.0

    - name: Package agent (deb).
      run: make deb-agent-aarch64

    - name: Package agent (rpm).
      run: make rpm-agent-aarch64

    - run: echo AGENT_VERSION=$(make agent-version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-linux.tar.xz
        path: "dist/cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-linux.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent_${{ env.AGENT_VERSION }}_arm64.deb
        path: "target/aarch64-unknown-linux-musl/debian/cluvio-agent_${{ env.AGENT_VERSION }}_arm64.deb"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-1.aarch64.rpm
        path: "target/aarch64-unknown-linux-musl/generate-rpm/cluvio-agent-${{ env.AGENT_VERSION }}-1.aarch64.rpm"
        retention-days: 1

  build-x86_64-macos:
    runs-on: macos-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install Apple Darwin target
      run: rustup target add x86_64-apple-darwin

    - name: Package agent.
      run: make build-agent-x86_64-macos
      env:
        MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
        MACOS_CERTIFICATE_PWD: ${{ secrets.MACOS_CERTIFICATE_PWD }}
        MACOS_DEV_IDENTITY: ${{ secrets.MACOS_DEV_IDENTITY }}
        APPLE_DEV_ACCOUNT: ${{ secrets.APPLE_DEV_ACCOUNT }}
        APPLE_DEV_PASSWORD: ${{ secrets.APPLE_DEV_PASSWORD }}

    - run: echo AGENT_VERSION=$(make agent-version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-macos.tar.xz
        path: "dist/cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-macos.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-macos.dmg
        path: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-macos.dmg
        retention-days: 1

  build-aarch64-macos:
    runs-on: macos-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install Apple Darwin target
      run: rustup target add aarch64-apple-darwin

    - name: Package agent.
      run: make build-agent-aarch64-macos
      env:
        MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
        MACOS_CERTIFICATE_PWD: ${{ secrets.MACOS_CERTIFICATE_PWD }}
        MACOS_DEV_IDENTITY: ${{ secrets.MACOS_DEV_IDENTITY }}
        APPLE_DEV_ACCOUNT: ${{ secrets.APPLE_DEV_ACCOUNT }}
        APPLE_DEV_PASSWORD: ${{ secrets.APPLE_DEV_PASSWORD }}

    - run: echo AGENT_VERSION=$(make agent-version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-macos.tar.xz
        path: "dist/cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-macos.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-macos.dmg
        path: cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-macos.dmg
        retention-days: 1

  build-x86_64-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install Windows target
      run: rustup target add x86_64-pc-windows-msvc

    - name: Package agent.
      run: make build-agent-x86_64-windows

    - run: echo AGENT_VERSION=$(make agent-version) >> $GITHUB_ENV
      shell: bash

    - uses: actions/upload-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-windows.zip
        path: "dist/cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-windows.zip"
        retention-days: 1

  release:
    runs-on: ubuntu-latest
    needs:
      - build-x86_64-linux
      - build-aarch64-linux
      - build-x86_64-macos
      - build-aarch64-macos
      - build-x86_64-windows
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - run: echo AGENT_VERSION=$(make agent-version) >> $GITHUB_ENV

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-linux.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-macos.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-aarch64-macos.dmg
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-linux.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-macos.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-macos.dmg
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-x86_64-windows.zip
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent_${{ env.AGENT_VERSION }}_amd64.deb
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent_${{ env.AGENT_VERSION }}_arm64.deb
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-1.x86_64.rpm
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: cluvio-agent-${{ env.AGENT_VERSION }}-1.aarch64.rpm
        path: dist/

    - name: Create release.
      shell: bash
      run: |
        (cd dist && sha256sum *.* > CHECKSUMS)
        gh auth login --with-token <<< "${{ secrets.GITHUB_TOKEN }}"
        gh release create -d -t "v${{ env.AGENT_VERSION }}" -F CHANGELOG.md "v${{ env.AGENT_VERSION }}" dist/*

