name: Create GitHub release

on: workflow_dispatch

env:
  CARGO_TERM_COLOR: always

jobs:
  build-x86_64-unknown-linux-musl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install MUSL
      run: sudo apt-get install -y musl-dev musl-tools

    - name: Install MUSL target
      run: rustup target add x86_64-unknown-linux-musl

    - name: Package agent.
      run: make build-x86_64-unknown-linux-musl

    - run: echo AGENT_VERSION=$(make version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-x86_64-unknown-linux-musl.tar.xz
        path: "dist/agent-${{ env.AGENT_VERSION }}-x86_64-unknown-linux-musl.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-x86_64-unknown-linux-musl
        path: "dist/cluvio-setup"
        retention-days: 1

  build-aarch64-unknown-linux-musl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install MUSL
      run: sudo apt-get install -y musl-dev musl-tools gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu

    - name: Install MUSL target
      run: rustup target add aarch64-unknown-linux-musl

    - name: Package agent.
      run: make build-aarch64-unknown-linux-musl

    - run: echo AGENT_VERSION=$(make version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-aarch64-unknown-linux-musl.tar.xz
        path: "dist/agent-${{ env.AGENT_VERSION }}-aarch64-unknown-linux-musl.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-aarch64-unknown-linux-musl
        path: "dist/cluvio-setup"
        retention-days: 1

  build-x86_64-apple-darwin:
    runs-on: macos-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install Apple Darwin target
      run: rustup target add x86_64-apple-darwin

    - name: Package agent.
      run: make build-x86_64-apple-darwin

    - run: echo AGENT_VERSION=$(make version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-x86_64-apple-darwin.tar.xz
        path: "dist/agent-${{ env.AGENT_VERSION }}-x86_64-apple-darwin.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-x86_64-apple-darwin
        path: "dist/cluvio-setup"
        retention-days: 1

  build-aarch64-apple-darwin:
    runs-on: macos-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install Apple Darwin target
      run: rustup target add aarch64-apple-darwin

    - name: Package agent.
      run: make build-aarch64-apple-darwin

    - run: echo AGENT_VERSION=$(make version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-aarch64-apple-darwin.tar.xz
        path: "dist/agent-${{ env.AGENT_VERSION }}-aarch64-apple-darwin.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-aarch64-apple-darwin
        path: "dist/cluvio-setup"
        retention-days: 1

  build-x86_64-pc-windows-msvc:
    runs-on: windows-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install Windows target
      run: rustup target add x86_64-pc-windows-msvc

    - name: Package agent.
      run: make build-x86_64-pc-windows-msvc

    - run: echo AGENT_VERSION=$(make version) >> $GITHUB_ENV
      shell: bash

    - uses: actions/upload-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-x86_64-pc-windows-msvc.tar.xz
        path: "dist/agent-${{ env.AGENT_VERSION }}-x86_64-pc-windows-msvc.tar.xz"
        retention-days: 1

    - uses: actions/upload-artifact@v2
      with:
        name: setup-v${{ env.AGENT_VERSION }}-x86_64-pc-windows-msvc.exe
        path: "dist/cluvio-setup.exe"
        retention-days: 1

  release:
    runs-on: ubuntu-latest
    needs:
      - build-x86_64-unknown-linux-musl
      - build-aarch64-unknown-linux-musl
      - build-x86_64-apple-darwin
      - build-aarch64-apple-darwin
      - build-x86_64-pc-windows-msvc
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - run: echo AGENT_VERSION=$(make version) >> $GITHUB_ENV
    - run: mkdir -p dist/setup

    - uses: actions/download-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-x86_64-unknown-linux-musl.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-x86_64-unknown-linux-musl
        path: dist/setup/v${{ env.AGENT_VERSION }}-x86_64-unknown-linux-musl/cluvio-setup

    - uses: actions/download-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-aarch64-unknown-linux-musl.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-aarch64-unknown-linux-musl
        path: dist/setup/v${{ env.AGENT_VERSION }}-aarch64-unknown-linux-musl/cluvio-setup

    - uses: actions/download-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-x86_64-apple-darwin.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-x86_64-apple-darwin
        path: dist/setup/v${{ env.AGENT_VERSION }}-x86_64-apple-darwin/cluvio-setup

    - uses: actions/download-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-aarch64-apple-darwin.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-aarch64-apple-darwin
        path: dist/setup/v${{ env.AGENT_VERSION }}-aarch64-apple-darwin/cluvio-setup

    - uses: actions/download-artifact@v2
      with:
        name: agent-${{ env.AGENT_VERSION }}-x86_64-pc-windows-msvc.tar.xz
        path: dist/

    - uses: actions/download-artifact@v2
      with:
        name: setup-${{ env.AGENT_VERSION }}-x86_64-pc-windows-msvc
        path: dist/setup/v${{ env.AGENT_VERSION }}-x86_64-pc-windows-msvc/cluvio-setup

    - name: Create release.
      shell: bash
      run: |
        (cd dist && sha256sum *.* > CHECKSUMS)
        gh auth login --with-token <<< "${{ secrets.GITHUB_TOKEN }}"
        gh release create -d -t "v${{ env.AGENT_VERSION }}" -F CHANGELOG.md "v${{ env.AGENT_VERSION }}" dist/*

