name: Create GitHub release

on: workflow_dispatch

env:
  CARGO_TERM_COLOR: always

jobs:
  build-x86_64-unknown-linux-musl:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install MUSL
      run: sudo apt install -y musl-dev musl-tools

    - name: Install MUSL target
      run: rustup target add x86_64-unknown-linux-musl

    - name: Package agent.
      run: make build-linux-musl

    - run: echo AGENT_VERSION=$(make version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v1
      with:
        name: agent-eu-${{ env.AGENT_VERSION }}-x86_64-linux.tar.xz
        path: "dist/agent-eu-${{ env.AGENT_VERSION }}-x86_64-linux.tar.xz"
        retention-days: 1

  build-x86_64-apple-darwin:
    runs-on: macos-latest
    steps:
    - name: Checkout repository.
      uses: actions/checkout@v2

    - name: Install Apple Darwin target
      run: rustup target add x86_64-apple-darwin

    - name: Package agent.
      run: make build-apple-darwin

    - run: echo AGENT_VERSION=$(make version) >> $GITHUB_ENV

    - uses: actions/upload-artifact@v1
      with:
        name: agent-eu-${{ env.AGENT_VERSION }}-x86_64-apple-darwin.tar.gz
        path: "dist/agent-eu-${{ env.AGENT_VERSION }}-x86_64-apple-darwin.tar.gz"
        retention-days: 1

  release:
    runs-on: ubuntu-latest
    needs:
      - build-x86_64-unknown-linux-musl
      - build-x86_64-apple-darwin
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: agent-eu-${{ env.AGENT_VERSION }}-x86_64-linux.tar.xz
          path: dist/

      - uses: actions/download-artifact@v2
        with:
          name: agent-eu-${{ env.AGENT_VERSION }}-x86_64-apple-darwin.tar.gz
          path: dist/

      - name: Create release.
        run: |
          (cd dist && sha256sum dist/*.tar.* > CHECKSUMS)
          gh release --draft create "v${{ env.AGENT_VERSION }}" dist/*

